<div class="main-div">
  <mat-card class="example-card mat-elevation-z10 center">
    <mat-card-header>
      <h1>Login</h1>
      <br>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field class="example-full-width" >
        <mat-select [(value)]="selected" placeholder="Login as">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your Password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>



      </form>

    </mat-card-content>
    <button mat-raised-button color="primary">Login</button>
  </mat-card>
</div>
